body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Montez", cursive, sans-serif
  align-items: center;
  justify-content: center;
  background-color: $color_background;
}

h1 {
  color: #66BFBF;
  font-size: 3.5rem;
  margin-top: 50px;
  font-family: "STXingkai", cursive, sans-serif
}

h2 {
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.intro {
  width: 30%;
  margin: auto;
  line-height: 2;
}


.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.contact {
  width: 40%;
  margin: 40px auto 60px;
}

.top-container {
  position: relative;
  background-color: #E4F9F5;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

a{
  color:#11999E;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}

.copy-right{
    color:#EAF6F6;
    font-size: 1rem;
    padding: 20px 0;
}
.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.flat-icon {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.giphy-icon {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Stencil', sans-serif,cursive;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
